#Data Types & Structures Assignment

1. What are data structures, and why are they important?

-  A data structure is a specialized way of organizing, managing and storing data in a computer so that it can be accessed and modified efficiently. Data structures are the foundation of programming, as they help in solving complex problems effectively.

   Data Structure are importent for efficient data management, better problem solving, scalability and organized data storage.

2.  Explain the difference between mutable and immutable data types with examples?

-  Python data types are classified into mutable and immutable based on whether their values can be changed after creation.

Mutable data types can be change, allow modification after creation.
Example: list, dict, set, bytearray.

Immutable Data Types cannot be changed after creation.
Examples: int, float, tuple, string, frozenset, bytes.

3. What are the main differences between lists and tuples in Python?

-  Lists and tuples are both sequence data types in Python, but they differ in several fundamental ways.

Mutability:
Lists are mutable, meaning their elements can be modified, added, or removed after creation.
Tuples are immutable, meaning once they are defined, their elements cannot be changed, added, or removed.

Syntax and Representation:
Lists are defined using square brackets ([]).
Tuples are defined using parentheses (()).

Performance and Efficiency:
Lists require more memory and processing time because they support dynamic modifications.
Tuples are more memory-efficient and faster, as their immutability allows for optimizations by the Python interpreter.
Operations and Methods

Lists support various methods like append(), remove(), pop(), and sort() for modifying elements.
Tuples have limited built-in methods (e.g., count() and index()) since they cannot be modified.

The choice between lists and tuples depends on the use case: lists provide flexibility, while tuples offer stability, performance, and data integrity.

4. Describe how dictionaries store data?

-  n Python, a dictionary (dict) is an unordered, mutable data structure that stores data in key-value pairs. It allows fast lookups, modifications, and deletions using a technique called hashing.

A dictionary consists of:
Keys (Unique, immutable objects such as strings, numbers, or tuples)
Values (Any data type, including lists, other dictionaries, or objects)

In [2]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

5. Why might you use a set instead of a list in Python?

-  A set and a list both store collections of elements, but they have key differences that make sets preferable in certain cases.

Since sets do not store indexed data or duplicates, they use less memory than lists and are less computationally expensive. As a result, sets take less time to search through. A set automatically removes duplicate values, whereas a list allows duplicates.

6. What is a string in Python, and how is it different from a list?

-   A string in Python is a sequence of characters enclosed in single ('), double ("), or triple quotes (''' or """ """). It is an immutable data type, meaning it cannot be modified after creation.

and list is mutable, enclosed in [] and store any data type.

7. How do tuples ensure data integrity in Python?

-  A tuple in Python is an immutable sequence that ensures data integrity by preventing modifications after creation. This immutability provides several advantages in terms of reliability, security, and performance.

8. What is a hash table, and how does it relate to dictionaries in Python?

-   Hash table or hash map is a data structure that stores key-value pairs, using a hash function to map keys to indices in an array (or "buckets") for fast data retrieval, and Python dictionaries are built upon hash tables.

9. Can lists contain different data types in Python?

-  Yes! In Python, lists can contain elements of different data types. Unlike arrays in some languages (which require a single data type), Python lists are heterogeneous, meaning they can store integers, floats, strings, booleans, objects, even other lists.

10. Explain why strings are immutable in Python?

-   In Python, strings are immutable, meaning once a string is created, it cannot be changed. Any operation that appears to modify a string actually creates a new string instead of altering the original one.

11. What advantages do dictionaries offer over lists for certain tasks?

-  Dictionaries (dict) and lists (list) are both data structures in Python, but dictionaries offer unique advantages for certain tasks due to their key-value storage and hash table implementation.

In [6]:
employees = {101: "Subham", 102: "Bakuli", 103: "joy"}
print(employees[102])

Bakuli

12.  Describe a scenario where using a tuple would be preferable over a list?

-    Tuples are immutable, meaning their contents cannot be changed after creation. This makes them ideal for data integrity, memory efficiency, and performance.

GPS coordinates are fixed, they should not change.

In [7]:
# Using a tuple for fixed coordinates
climate_station = ("Mumbai", (19.0760, 72.8777))  # City & Coordinates

print(f"City: {climate_station[0]}")
print(f"Coordinates: {climate_station[1]}")

City: Mumbai
Coordinates: (19.076, 72.8777)

13. How do sets handle duplicate values in Python?

-   Sets automatically remove duplicate values.
In Python, a set is an unordered collection of unique elements. If you add duplicate values, the set stores only one occurrence of each.

In [8]:
data = [10, 20, 30, 10, 20, 40]  # Contains duplicates
unique_data = set(data)  # Convert to set

print(unique_data)

{40, 10, 20, 30}

14. How does the “in” keyword work differently for lists and dictionaries?

-  The in keyword in Python is used to check membership—whether a value exists in a data structure. However, its efficiency differs between lists and dictionaries because of their underlying implementation.

In [9]:
numbers = [10, 20, 30, 40, 50]
print(30 in numbers)
print(100 in numbers)

True
False

15. Can you modify the elements of a tuple? Explain why or why not?

-  No, we cannot modify the elements of a tuple because tuples are immutable in Python. This means that once a tuple is created, its elements cannot be changed, added, or removed.

but modifying a mutable element inside a tuple if a tuple contains a mutable object (e.g., a list), the list itself can be modified.

In [10]:
t = (1, [2, 3], 4)
t[1].append(5)
print(t)

(1, [2, 3, 5], 4)

16. What is a nested dictionary, and give an example of its use case?

-   A nested dictionary is a dictionary that contains another dictionary as a value. It allows for multi-level data storage, making it useful for storing structured or hierarchical data.

In [14]:
esg_data = {
    "Tesla": {
        "Environmental": 85,
        "Social": 78,
        "Governance": 80,
        "Years": {"2024": 82, "2025": 85}
    },
    "Microsoft": {
        "Environmental": 90,
        "Social": 88,
        "Governance": 92,
        "Years": {"2024": 89, "2025": 90}
    }
}

# Accessing Tesla's 2024 ESG score
print(esg_data["Tesla"]["Years"]["2024"])

82

17.  Describe the time complexity of accessing elements in a dictionary?

-   In Python, accessing elements in a dictionary is highly efficient due to its hash table implementation. The time complexity depends on whether the lookup is successful or if there are hash collisions.

18.  In what situations are lists preferred over dictionaries?

-    Lists (list) and dictionaries (dict) are both essential data structures in Python, but lists are preferred in situations where order matters.
Use a list when you need to maintain the exact sequence of elements for an example to do list.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Dictionaries are considered unordered because they are designed for fast key-based retrieval rather than maintaining a specific order of elements, and this lack of inherent order affects data retrieval by making it impossible to access elements by their position (index).

20. Explain the difference between a list and a dictionary in terms of data retrieval.

-   In data retrieval, lists access elements by their numerical index (starting from 0), while dictionaries access elements (values) by their unique keys, offering faster lookups for large datasets.




#Practical Questions

In [15]:
#1. Write a code to create a string with your name and print it?

my_name = 'Subham Bakuli'
print(my_name)

Subham Bakuli

In [17]:
#2. Write a code to find the length of the string "Hello World"?

text = 'Hello World'

print(len(text))

11

In [18]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"?

# Define the string
text = "Python Programming"

# Slice the first 3 characters
first_three_chars = text[:3]

print(first_three_chars)

Pyt

In [19]:
#4. Write a code to convert the string "hello" to uppercase?

# Define the string
text = "hello"
uppercase_text = text.upper()

print(uppercase_text)

HELLO

In [22]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"
new_text = text.replace("apple", "orange")

print(new_text)

I like orange

In [23]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
# Creating a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

print(numbers)

[1, 2, 3, 4, 5]

In [24]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

# Define the list
numbers = [1, 2, 3, 4]
numbers.append(10)

print(numbers)

[1, 2, 3, 4, 10]

In [25]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
# Define the list
numbers = [1, 2, 3, 4, 5]

numbers.remove(3)

print(numbers)

[1, 2, 4, 5]

In [26]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
# Define the list
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]

print(second_element)

b

In [27]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

# Define the list
numbers = [10, 20, 30, 40, 50]
numbers.reverse()

print(numbers)

[50, 40, 30, 20, 10]

In [28]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
# Creating a tuple
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [29]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]

print(second_last)

blue

In [30]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

# Define the tuple
numbers = (10, 20, 5, 15)
min_value = min(numbers)

print(min_value)

5

In [31]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

# Define the tuple
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')

print(cat_index)

1

In [32]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

# Define the tuple with three fruits
fruits = ('apple', 'banana', 'orange')

is_kiwi_present = 'kiwi' in fruits

print(is_kiwi_present)

False

In [33]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

# Define the set
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [34]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
# Define the set
numbers = {1, 2, 3, 4, 5}

numbers.clear()

print(numbers)

set()

In [35]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

# Define the set
numbers = {1, 2, 3, 4}

numbers.remove(4)
print(numbers)

{1, 2, 3}

In [36]:
 #19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

 # Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

In [37]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [39]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

# Define the dictionary
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [40]:
 #22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

# Define the dictionary
person = {'name': 'Alice', 'age': 30}
name_value = person['name']

print(name_value)

Alice

In [48]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

# Define the dictionary
person = {'name': 'Alice', 'age': 30}
name_value = person['name']

print("Name:", name_value)

Name: Alice

In [41]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

# Define the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

removed_value = person.pop('age')

print(person)

print("Removed value:", removed_value)

{'name': 'Bob', 'city': 'New York'}
Removed value: 22

In [42]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [43]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

# Create a list
my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [44]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

import random

random_numbers = random.sample(range(1, 101), 5)

random_numbers.sort()

print("Sorted List:", random_numbers)

Sorted List: [19, 24, 71, 79, 96]

In [45]:
#.28. Write a code to create a list with strings and print the element at the third index.
# Create a list of strings
words = ["apple", "banana", "cherry", "date", "elderberry"]
third_index_element = words[3]

print("Element at index 3:", third_index_element)

Element at index 3: date

In [46]:
#29. Write a code to combine two dictionaries into one and print the result.

# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

dict1.update(dict2)
print("Combined Dictionary:", dict1)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [47]:
#30. Write a code to convert a list of strings into a set.

# Define a list of strings
words_list = ["apple", "banana", "cherry", "apple", "banana"]

words_set = set(words_list)

print("Set:", words_set)

Set: {'apple', 'banana', 'cherry'}